In [ ]:
# Q1. What is a database? Differentiate between SQL and NoSQL databases.
Ans.
A database is a structured collection of data that is organized, stored, and managed in a way that enables 
efficient retrieval, updating, and analysis of the data. 

MySQl: MySQL is an open-source relational database management system. As with other relational databases, 
MySQL stores data in tables made up of rows and columns. Users can define, manipulate, control, and query data 
using Structured Query Language, more commonly known as SQL.

NoSQL: NoSQL databases are non-tabular databases and store data differently than relational tables.
NoSQL databases come in a variety of types based on their data model. The main types are document, key-value, wide-column,
and graph. They provide flexible schemas and scale easily with large amounts of data and high user loads.

In [ ]:
# Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
Ans.
DDL: DDL stands for data defination language.It is basically used for define and manage the structure.
DDL statements are used to create, modify, and delete database objects such as tables, indexes, views, and schemas.

CREATE: Create is basically used for making a new database object.
DROP: Drop is used for removing the existing table.
ALTER: Alter is used to modify the structure of an existing table object.
TRUNCATE: The TRUNCATE statement is used to remove all the data from a table while keeping its structure intact. Unlike
the DROP statement, which completely removes the table, TRUNCATE only removes the data rows.

In [ ]:
# EXAMPLE FOR CREATE
CREATE TABLE employee(
    ID INT PRIMARY KEY,
    Name VARCHAR(50),
    Salary DECIMAL(10,2)
);

In [ ]:
# EXAMPLE FOR DROP
DROP TABLE employee;

In [ ]:
# EXAMPLE FOR ALTER
ALTER TABLE Employees
ADD Department VARCHAR(50);

In [ ]:
# EXAMPLE FOR TRUNCATE
TRUNCATE TABLE employee;

In [ ]:
# Q3.What is DML? Explain INSERT, UPDATE, and DELETE with an example.
Ans.
DML : DML stands for Data Manipulation language. which consists of SQL commands used to manipulate and retrieve data
within a database. DML statements are used to insert, update, and delete data in database tables.

INSERT:  Insert statement is used to add new rows of data into a table. It allows you to specify the values for 
each column.

UPDATE: Update statement is used to modify existing data in a table. It allows you to update specific columns 
or multiple columns at once.

DELETE: Delete statement is used to remove specific rows from a table based on specified conditions. It 
permanently deletes the data from the table.

In [ ]:
# Example for insert
INSERT INTO employee(ID,Name,Salary)
VALUES(1,"Amit",2000000);

In [ ]:
# Example for update
UPDATE employee
GET Salary = 200000
WHERE ID = 1;

In [ ]:
# Example for delete
DELETE employee
WHERE ID = 2;

In [ ]:
# Q4. What is DQL? Explain SELECT with an example.
Ans.
DQL : DQL stands for Data query language. It is a subset of SQL used to retrieve data from a database.

SELECT: SELECT is used for fetching the data from the database table or multiple tables based on specific criteria.

In [ ]:
# Example for select
SELECT ID,Name,Salary
FROM employee;

In [ ]:
# Q5. Explain Primary Key and Foreign Key.
Ans.
Primary Key: A primary key is a column or a set of columns in a database table that uniquely identifies each row or record 
within that table. AN It is not null in table.

Foreign Key: A foreign key is a column or a set of columns in a database table that establishes a link between two tables.
It refers to the primary key of another table, creating a connection between the two tables.

In [ ]:
# Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
    print(x)

In [ ]:
cursor(): the cursor() method is used to create a cursor object. The cursor object allows you to execute SQL statements
and retrieve the results from the database.

execute(): The execute() method is used to execute SQL statements or queries using the cursor object. It allows you to 
interact with the database by executing SQL statements such as SELECT, INSERT, UPDATE, DELETE, and more.

In [ ]:
# Q7. Give the order of execution of SQL clauses in an SQL query.
Ans.
The order of execution of SQL clauses in an SQL query.
a. FROM 
b. JOIN
c. WHERE 
d. GROUP BY
e. HAVING
f. SELECT
g. DISTINCT
h. ORDER BY